<!DOCTYPE html>
<html>
<head>
  <title>Ten Input Form</title>
</head>
<body>
<!... I want a ui  that has form of inputs as per the schema.yaml file,and a predict button that when clicked will display a prediction ...
The label for the inputs will be the columns in my dataframe.And you can see them inside the schema.yaml file.The prediction result after pressing the predict button would be 
the the last (target column ) inside the schema.yaml file.And its same for all the two systems.Maybe you can check the app.py file.And
The backend accepts the inputs converts to datafarame and passes to the prediction pipeline for prediction.Now you may 
integrate the ui and bring the functionality>
</body>
</html>
 